@media (max-width: 1560px){

    .enTete{
        width: 90%;
    }
}

@media (max-width: 1260px){

    .enTete{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textTop{
        margin-top: 50px;
    }

    .corp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
    }

    .ChampSpecialite{
        width: 90%;
    }

    .competence{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .equipement, .pouvoir, .Arme{
        margin-top: 50px;
    }

    .equipement{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 935px) {
    
    main{
        width: 100%;
        padding: 0;
    }

    .enTete{
        width: 100%;
        margin-top: 10px;
    }

    .infoText, .infoText2{
        font-size: 20px;
    }

    .textTop{
        column-gap: 0px;
    }

    .pv, .corp, .inventaireCredit{
        margin-top: 50px;
    }

    .corp{
        width: 100%;
    }

    .corp div{
        width: 100%;
    }

    .caracTitre, .caracElement, .trArme, input, .inputArmureText, .inputArmeText, 
    h2, .trArme, .thArme, .tdArme{
        font-size: 16px;
    }
}


