@media (max-width: 1260px){

    .enTete{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .textTop{
        margin-top: 50px;
    }

    .corp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;
    }

    .ChampSpecialite{
        width: 90%;
    }

    .competence{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .equipement, .pouvoir, .Arme{
        margin-top: 50px;
    }

    .equipement{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 500px) {
    
    .enTete{
        width: 100%;
    }
}


