
*{
    font-family: "Anta", sans-serif;
    color: #b8870b;
}
.div-content{
    display: flex;
    justify-content: center;
}

.size-Text{
    font-size: 24px;
    text-align: justify;
}

main{
    flex-direction: column;
    align-items: center;
}

section{
    width: 100%;
    margin-top: 5%;
}

iframe {
    width: 640px;
    height: 360px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}

.videoIntro{
    width: 100%;
    align-items: center;
}

h2{
    margin-top: 30px;
    font-size: 2em; 
    text-align: center;
}

.textDebut{
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pdf{
    flex-direction: column;
    margin-top: 10px;
    color: brown;
}

.session{
    flex-direction: row;
    align-items: center;
}

input{
    border: 1px solid darkgoldenrod;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: 0 0 5px 1px darkgoldenrod;
}

@media screen and (max-width: 450px) {
    
    .size-Text{
        font-size: 18px;
    }

    .textDebut{
        max-width:fit-content;
        margin-top: 30px;
    }
    
    .pdf{
        row-gap: 15px;
    }
    
    .session{
        flex-direction: column;
        margin-bottom: 20px;
    }
    
    form{
        display: flex;
        flex-direction: row;
    }
}


