*{
    font-family: "Anta", sans-serif;
    color: darkgoldenrod;
}

video{
    border: 1px solid darkgoldenrod;
}

.videoIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h2{
    margin-top: 30px;
    font-size: 2em; 
    text-align: center;
}

.textDebut{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 1.2em; 
}

.pdf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    color: brown;
    font-size: 1.2em;
}

.session{

    font-size: 1.5em; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

form{
    margin-left: 20px;
}
input{
    border: 1px solid darkgoldenrod;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 1.2em; 
    box-shadow: 0 0 5px 1px darkgoldenrod;
}

@media screen and (max-width: 450px) {
    
    .textDebut{
        margin-top: 30px;
    }
    
    .pdf{
        row-gap: 15px;
    }
    
    .session{
        flex-direction: column;
        font-size: 1.2em;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    form{
        display: flex;
        flex-direction: row;
    }
    input{
        margin-top: -20px;
        font-size: 1em; 
    }

}


