
*{
    font-family: "Anta", sans-serif;
    color: #b8870b;
}
.div-content{
    display: flex;
    justify-content: center;
}

.size-Text{
    font-size: 24px;
    text-align: justify;
}

main{
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 640px;
    height: 360px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
}

.videoIntro{
    width: 100%;
    align-items: center;
}

h2{
    margin-top: 30px;
    font-size: 2em; 
    text-align: center;
}

.textDebut{
    margin-top: 5%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pdf{
    flex-direction: column;
    margin-top: 10px;
}

a{
    color: aqua;
    text-decoration: none;
}

.session{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.session p{
    font-size: 30px;
}

form{
    display: flex;
    margin-left: 15px;
    gap: 10px;
}

input{
    border: 1px solid darkgoldenrod;
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.3);
    box-shadow: 0 0 5px 1px darkgoldenrod;
    font-size: 24px;
    padding: 5px;
}

@media screen and (max-width: 450px) {

    iframe {
        width: 350px;
        height: 240px;
    }
    
    .size-Text{
        font-size: 18px;
    }

    .textDebut{
        max-width:fit-content;
        margin-top: 30px;
    }
    
    .pdf{
        row-gap: 15px;
        padding-left: 10px;
        font-size: 14px;
    }
    
    .session{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .session p{
        font-size: 24px;
    }
    
    
    form{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
    }

    input{
        font-size: 16px;
    }
}


