footer{
    height: 60px;
}
.imgFooter{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgFooterOrdi{
    display: flex;
    width: 90%;
}
.imgFooterTel{
    display: none;
}

/* ------- Barre Animation -------- */

.contentBarreAnimation{
    width: 100%;
    height: 60px;
}

.conteneur{
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 2;
    position: relative;
    bottom: 50px;
}

.conteneurShadow{
    display: flex;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    position: relative;
    bottom: 100px;
}

.barre{
    height: 50px;
    width: 15px;
    background-color: aqua;
}

.Shadow{
    height: 50px;
    width: 15px;
    background-color: rgba(35, 87, 87, 0.5);

}

.barre0, .barre5, .barre10, .barre15, .barre20, .barre25, .barre30, .barre35 {
    animation: 2.5s ease-in-out 0s infinite alternate barreMove;
}
.barre1, .barre6, .barre11, .barre16, .barre21, .barre26, .barre31, .barre36{
    animation: 1.5s ease-in-out 0s infinite alternate barreMove;
}
.barre2, .barre7, .barre12, .barre17, .barre22, .barre27, .barre32, .barre37{
    animation: 1s ease-in-out 0s infinite alternate barreMove;
}
.barre3, .barre8, .barre13, .barre18, .barre23, .barre28, .barre33, .barre38{
    animation: 1.5s ease-in-out 0s infinite alternate barreMove;
}
.barre4, .barre9, .barre14, .barre19, .barre24, .barre29, .barre34, .barre39{
    animation: 2s ease-in-out 0s infinite alternate barreMove;
}

@keyframes barreMove{
    from{transform:translate(0px, 25px) scaleY(0);}
    to{transform:translate(0px, 0px) scaleY(1);}
}

@media screen and (max-width: 1570px) {

    .barre1, .barre2, .barre3, .barre4, .barre5, .barre6, .barre7{
        display: none;
    }

    .barre32, .barre33, .barre34, .barre35, .barre36, .barre37, .barre38{
        display: none;
    }

    .Shadow1, .Shadow2, .Shadow3, .Shadow4, .Shadow5, .Shadow6, .Shadow7{
        display: none;
    }

    .Shadow32, .Shadow33, .Shadow34, .Shadow35, .Shadow36, .Shadow37, .Shadow38{
        display: none;
    }

}

@media screen and (max-width: 1240px){

    .imgFooterOrdi{
        padding-bottom: 20px;
    }

    .barre1, .barre2, .barre3, .barre4, .barre5, .barre6, .barre7, .barre8, .barre9, .barre10, .barre11{
        display: none;
    }

    .Shadow1, .Shadow2, .Shadow3, .Shadow4, .Shadow5, .Shadow6, .Shadow7, .Shadow8, .Shadow9, .Shadow10, .Shadow11{
        display: none;
    }

}

@media screen and (max-width: 1024px) {


    .barre1, .barre2, .barre3, .barre4, .barre5, .barre6, .barre7, .barre8, .barre9, .barre10{
        display: none;
    }

    .barre32, .barre33, .barre34, .barre35, .barre36, .barre37, .barre38, .barre39, .barre40, .barre41{
        display: none;
    }

    .Shadow1, .Shadow2, .Shadow3, .Shadow4, .Shadow5, .Shadow6, .Shadow7, .Shadow8, .Shadow9, .Shadow10{
        display: none;
    }

    .Shadow32, .Shadow33, .Shadow34, .Shadow35, .Shadow36, .Shadow37, .Shadow38, .Shadow39, .Shadow40, .Shadow41{
        display: none;
    }
}

@media screen and (max-width: 935px) {

    .imgFooterOrdi{
        display: none;
    }
    .imgFooterTel{
        display: flex;
        width: 100%;
        padding-bottom: 20px;
    }

    .barre1, .barre2, .barre3, .barre4, .barre5, .barre6, .barre7, .barre8, .barre9, .barre10, .barre11, .barre12, .barre13{
        display: none;
    }

    .barre32, .barre33, .barre34, .barre35, .barre36, .barre37, .barre38, .barre39, .barre40, .barre41, .barre42{
        display: none;
    }

    .Shadow1, .Shadow2, .Shadow3, .Shadow4, .Shadow5, .Shadow6, .Shadow7, .Shadow8, .Shadow9, .Shadow10, .Shadow11, .Shadow12, .Shadow13{
        display: none;
    }

    .Shadow32, .Shadow33, .Shadow34, .Shadow35, .Shadow36, .Shadow37, .Shadow38, .Shadow39, .Shadow40, .Shadow41, .Shadow42{
        display: none;
    }
}

@media screen and (max-width: 450px) {

    .imgFooterTel{
        padding-bottom: 40px;
    }

    .barre1, .barre2, .barre3, .barre4, .barre5, .barre6, .barre7, .barre8, .barre9, .barre10, .barre11, .barre12, .barre13, .barre14, .barre15, .barre16, .barre17, .barre18, .barre19, .barre20, .barre21, .barre22{
        display: none;
    }

    .barre32, .barre33, .barre34, .barre35, .barre36, .barre37, .barre38, .barre39, .barre40{
        display: none;
    }

    .Shadow1, .Shadow2, .Shadow3, .Shadow4, .Shadow5, .Shadow6, .Shadow7, .Shadow8, .Shadow9, .Shadow10, .Shadow11, .Shadow12, .Shadow13, .Shadow14, .Shadow15, .Shadow16, .Shadow17, .Shadow18, .Shadow19, .Shadow20, .Shadow21, .Shadow22{
        display: none;
    }

    .Shadow32, .Shadow33, .Shadow34, .Shadow35, .Shadow36, .Shadow37, .Shadow38, .Shadow39, .Shadow40{
        display: none;
    }

}