*{
    font-family: "Anta", sans-serif;
}

main{
    max-width: 1620px;
    min-height: 600px;
    box-sizing: border-box;
}

.contenteInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 15px;
}

.barreChoix{
    display: flex;
    flex-direction: column;
    font-style: normal; 
    color: rgb(255, 196, 0);
    width: 200px;
}
.barreChoixMobile{
    display: none;
}

.elementInfo{
    width: 80%;
    padding: 10px;
}

.choix{
    border: none;
    color: rgb(255, 196, 0);
    background-color: transparent;
    background-image: url(../Ressource/Image/btn-Shop.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
    margin-bottom: 5px;
    font-size: 22px; 
    text-align: center;
    transition: transform 500ms ease-in-out;
}
.choix:hover{
    transform: scale(1.05) ;
}

.choixPersonnage, .choixBestiaire, .choixResumer{
    border-right: 3px solid darkgoldenrod;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-Perso{
    overflow: hidden;
    max-height: 480px;
}

.content-Best{
    overflow: hidden;
    max-height: 200px;
}

.content-Resumer{
    overflow: hidden;
    max-height: 100px;
}

.choixPersonnage{
    display: none;
    flex-direction: column;
    animation: 600ms ease-in-out activePerso;
}

.choixBestiaire{
    display: none;
    flex-direction: column;
    animation: 500ms ease-in-out activeBest;
}
.choixResumer{
    display: none;
    flex-direction: column;
    animation: 400ms ease-in-out activeResumer;
}

@keyframes activePerso {
    from{transform: translateY(-400px); opacity: 0;}
    to{transform: translateY(0px); opacity: 1;}
}

@keyframes activeBest {
    from{transform: translateY(-200px); opacity: 0;}
    to{transform: translateY(0px); opacity: 1;}
}

@keyframes activeResumer {
    from{transform: translateY(-100px); opacity: 0;}
    to{transform: translateY(0px); opacity: 1;}
}

.choixSecondaire{
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 200;
    font-size: 1.05em; 
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}
.choixSecondaire:hover{
    background-color: rgba(128, 128, 128, 0.6) ;
}


#republique{
    color: rgb(88, 88, 255);
    border-bottom: 1px solid darkgoldenrod;
    padding-bottom: 5px;
    font-size: 1.1em; 
}
#empire{
    color: rgb(255, 62, 62);
    border-bottom: 1px solid darkgoldenrod;
    border-top: 1px solid darkgoldenrod;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.1em; 
}
#autre{
    color: burlywood;
    border-bottom: 1px solid darkgoldenrod;
    border-top: 1px solid darkgoldenrod;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.1em; 
}

.elementInfo{
    display: none;
    flex-direction: column;
    padding-left: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid aqua;
    border-left: 1px solid aqua;
    border-radius: 5px;
}

.elementInfo h1{
    color: rgb(255, 196, 0);
    font-size: 30px;
    animation: 1s ease-in-out appInfo;
}

.elementInfo h2{
    color: rgb(255, 196, 0);
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
    animation: 1s ease-in-out appInfo;
}

.elementInfo p{
    color: white;
    font-size: 20px;
    text-justify: auto;
    animation: 1s ease-in-out appInfo;
}

.image_et_info{
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 50px;
    animation: 1s ease-in-out appInfo;
}

@keyframes appInfo {
    from{opacity: 0;}
    to{opacity: 1;}
}

#open{ 
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(128, 128, 128, 0.3);
    color: rgb(255, 196, 0);
    font-size: 30px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 10px;
}
#open:hover{
    box-shadow: 0 0 15px 1px rgba(255, 196, 0, 0.5);
}

.groundModale{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modaleAdd{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(40%, 20px);
    width: 50%;
    padding: 20px;
    background-color: black;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 20px;
    color: rgb(255, 196, 0);
    font-size: 25px;
}

.closeModale p {
    display: flex;
    justify-content: right;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}

.modalContent, .optionChoix{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.optionChoix{
 width: 100%;
}

.modaleAdd label{
    margin-bottom: 15px;
}

.modaleAdd select{
    background-color: rgba(128, 128, 128, 0.3);
    color: rgb(255, 196, 0);
    padding: 5px;
    width: 50%;
}

.modaleAdd input[type="text"]{
    background-color: rgba(128, 128, 128, 0.3);
    color: rgb(255, 196, 0);
    padding: 5px;
    width: 50%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid darkgoldenrod;
}

.modaleAdd option{
    color: rgb(255, 196, 0);
    background-color: black;
    font-size: 16px;
}

.addOnglet, .sousCatResumer{
    width: 80%;
}

.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 196, 0);
}

.ongletPerso, .sousCatResumer, .bottom, .addComtenuPerso, .addComtenuBest, 
.addComtenuResumer, .addComtenuResumerBidon, .addComtenuEnregistrement{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255, 196, 0);
}

.ongletPerso option[value="1"]{
    color: rgb(88, 88, 255);
}
.ongletPerso option[value="2"]{
    color: rgb(255, 62, 62);
}
.ongletPerso option[value="3"]{
    color: burlywood;
}

.modaleAdd #addInfo{
    margin-top: 20px;
    width: 50%;
    padding: 10px;
    font-size: 25px;
    color: rgb(255, 196, 0);
    background-color: transparent;
    background-image: url(../Ressource/Image/btn-Shop.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.addComtenuPerso, .addComtenuBest, .addComtenuResumer, 
.addComtenuResumerBidon, .addComtenuEnregistrement{
    width: 100%;
}

.infoSecondaire{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 67%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.previewImage{
    display: none;
    width: 193px;
    height: 193px;
    border: 1px solid rgb(255, 196, 0);
}

.fileImage, .fileImageMonstre{
    display: flex;
	width: 193px;
    height: 193px;
}

input[type="file"]{
    display: flex;
    height: 0;
    width: 0;
    overflow: hidden;

}

input[type="file"] + .labelFile{
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
    height: 193px;
    border: 1px solid rgb(255, 196, 0);
    background-color: rgba(128, 128, 128, 0.3);
    font-size: 20px;
}

.inputSecondaire{
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 3px;
}
.inputSecondaire input[type="text"]{
    width: 95%;
}

textarea{
    background-color: rgb(66, 66, 66);
    color: rgb(255, 196, 0);
    padding: 5px;
    font-size: 16px;
    width: 100%;
    border-color: rgb(255, 196, 0);
}

.fileImageMonstre{
    margin-top: 20px;
    margin-bottom: 20px;
}


.addComtenuResumer label{
    margin-top: 10px;
}

input[type="file"] + .labelFilePDF{
    padding: 10px;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 15px;
}

.addComtenuEnregistrement input{
    margin-bottom: 20px;
}

.btn-up{
    position: fixed;
    z-index: 6;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    transition: all 200ms ease-in-out;
}
.btn-up a{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../Ressource/Image/Picto/btn-up.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.btn-up:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 450px) {
    main{
        min-height: 520px;
    }

    .barreChoix{
        display: none;
    }
    .barreChoixMobile{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .barreChoixMobile select{
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid darkgoldenrod;
        color: goldenrod;
    }
    .barreChoixMobile option{
        background-color: black;
    }
    
    .contenteInfo{
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        padding: 0px;
    }

    .optionSecondaire{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .optionSecondaire select{
        width: 100%;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 1px solid darkgoldenrod;
        color: goldenrod;
    }
    .optionSecondaire option{
        background-color: black;
    }

    .modaleAdd{
        width: 91%;
        transform: translate(0px, 60px);
        padding: 15px;
    }
    .top, .addOnglet, .sousCatResumer{
        width: 90%;
    }
    .modaleAdd select{
        width: 80%;
    }

    label{
        font-size: 23px;
    }

    .modaleAdd input[type="text"]{
        width: 90%;
    }
    .infoSecondaire{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .inputSecondaire{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .elementInfo{
        width: 100%;
        margin-top: 15px;
        padding-left: 0px;
        padding: 5px;
        border: none;
    }

    .elementInfo h2{
        margin-bottom: 15px;
    }

    .image_et_info{
        flex-direction: column;
        margin-bottom: 20px;
    }
}
