*{
    font-family: "Anta", sans-serif;
}
.shopMenu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 40px 0px;
}
.shopMenuMobile{
    display: none;
}

.menuChoix{
    height: 50px;
    width: 220px;
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    background-image: url(../Ressource/Image/btn-Shop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: goldenrod;
    font-family: "Anta", sans-serif;
    font-weight: bold;
    font-size: 22px;
    border: none;
    transition: 200ms ease-in-out;
}

.menuChoix:hover{
    transform: scale(1.1);
}

.chooseCat{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0px;
    padding: 30px 0px;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
}

.chooseCat select{
    text-align: center;
    width: 25%;
    height: 50px;
    background-color: black;
    color: goldenrod;
    font-size: 20px;
    font-family: "Anta", sans-serif;
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
}

.max-min{
    display: flex;
    gap: 30px;
}

.inputPrix{
    height: 40px;
    width: 190px;
    cursor: pointer;
    text-align: center;
    background-image: url(../Ressource/Image/btn-Shop.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: aqua;
    font-family: "Anta", sans-serif;
    font-size: 20px;
    border: none;
    transition: 200ms ease-in-out;
}
.inputPrix:hover{
    transform: scale(1.1);
}

.rangePrix{
    width: 264px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.rangePrix p{
    width: auto;
    font-size: 20px;
}

.rangeName{
    display: flex;
    align-items: center;
}

.choixShop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
    margin: 60px 0px;
}

.sws-cristal-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    transition: 300ms;
}

.sws-cristal-card:hover{
    transform: scale(1.1);
}

.sws-cristal-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 0px 20px 0px 20px;
    width: 94px;
    height: 30px;
    transform: translate(219%, 0px);
}

.sws-cristal-price-img{
    width: 30px;
    height: 30px;
}

.sws-cristal-img{
    height: 300px;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid goldenrod;
}

.sws-cristal-nom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 45px;
    color: cyan;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.3);
}

h4{
    margin: 0px;
}

p{
    color: gold;
}

.sws-cristal-info{
    color: white;
    width: 280px;
    height: 90px;
    padding: 10px;

}

.sws-cart-ajout{
    position: absolute;
    transform: translate(0px,471px);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    width: 100px;
    height: 40px;
    padding: 0px;
    border-radius: 0px 10px 0px 20px;
    color: goldenrod;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
.sws-cart-ajout:hover{
    box-shadow: 0px 0px 15px 1px goldenrod;
}

.sws-cart-ajout-img{
    width: 40px;
    height: 40px;
    filter: sepia(100%) contrast(100%) brightness(2) drop-shadow(0px 0px 10px goldenrod);
}

.sws-armure-card{
    display: flex;
    flex-direction: column;
    width: 385px;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    transition: 300ms;
}

.sws-armure-card:hover{
    transform: scale(1.1);
}

.sws-armure-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    background-color: black;
    border-radius: 0px 20px 0px 20px;
    width: 94px;
    height: 30px;
    transform: translate(309%, 0px);
}

.sws-armure-price-img{
    width: 30px;
    height: 30px;
}

.sws-armure-img{
    width: 385px;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 1px solid goldenrod;
}

.sws-armure-nom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 365px;
    height: 45px;
    color: cyan;
    padding: 10px;
    margin: 0px;
    border-bottom: 1px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.3);
}

h4{
    width: 202px;
}
p{
    width: 100px;
}

.sws-armure-info{
    color: white;
    width: 365px;
    height: 90px;
    padding: 10px;

}

.sws-cart-armure-ajout{
    position: absolute;
    transform: translate(0px,471px);
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    width: 100px;
    height: 40px;
    padding: 0px;
    border-radius: 0px 10px 0px 20px;
    color: goldenrod;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: bold;
    cursor: pointer;
}
.sws-cart-armure-ajout:hover{
    box-shadow: 0px 0px 15px 1px goldenrod;
}

.sws-cart-ajout-armure-img{
    width: 40px;
    height: 40px;
    filter: sepia(100%) contrast(100%) brightness(2) drop-shadow(0px 0px 10px goldenrod);
}

.btn-up{
    position: fixed;
    z-index: 6;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    transition: all 200ms ease-in-out;
}
.btn-up a{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(../Ressource/Image/Picto/btn-up.png);
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid darkgoldenrod;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.btn-up:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 1024px){
}

@media screen and (max-width: 500px){
    .shopMenu{
        display: none;
    }
    .shopMenuMobile{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    select{
        width: 95%;
        padding: 5px;
        background-color: black;
        border: 1px solid darkgoldenrod;
        border-radius: 5px;
        color: goldenrod;
        font-family: "Anta", sans-serif;
    }

    .choixShop{
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .sws-cristal-card, .sws-armure-card{
        width: 355px;
    }

    .sws-cristal-card:hover, .sws-armure-card:hover{
        transform: scale(1);
    }

    .sws-cristal-img, .sws-armure-img{
        height: 355px;
        width: 355px;
    }

    .sws-cristal-price, .sws-armure-price{
        transform: translate(278%, 0px);
    }

    .sws-cristal-nom, .sws-armure-nom{
        width: 335px;
    }

    .sws-cristal-info, .sws-armure-info{
        width: 335px;
    }

    .sws-cart-ajout, .sws-cart-armure-ajout{
        transform: translate(0px, 524px);
    }
}
