header{
    box-sizing: border-box;
    max-width: 1500px;
    margin: 30px auto;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgNavL, .imgNavR{
    width: 10%;
    height: 25px;
    padding-top: 30px;
}

.imgNavL img, .imgNavR img{
    width: 100%;
}


.navigation{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navigationImage{
    width: 100%;
    background: transparent;
    transition-duration: 200ms;
}
.navigationImage:hover{
    transform: scale(0.85);
}

.imgNavL, .imgNavR{
    display: flex;
}

.navMoblile{
    display: none;
}

@media (max-width: 935px){

    header{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navigation, .imgNavL, .imgNavR{
        display: none;
    }

    .navMoblile{
        display: flex;
        justify-content: center;
        width: 95%;
        height: 50px;
        border: 1px solid darkgoldenrod;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 3px;
        z-index: 6;
    }

    .choixNavigation{
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        width: 99%;
        padding-bottom: 15px;
        position: absolute;
        top: 52px;
        z-index: 5;
    }

    .choixNavigation a{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid darkgoldenrod;
    }

    .choixNavigation img{
        width: 55%;
    }

}
