*{
    font-family: "Anta", sans-serif;
}

.vueGlobalMobile{
    display: none;
}

.vueGlobal{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-Content h1{
    font-size: 24px;
    color: goldenrod;
}
.nameZone{
    font-size: 20px;
    color: aqua;
}

.gallery-content{
    width: 60%;
    margin-top: 20px;
    overflow: hidden;
    min-height: 200px;
    position: relative;
    display: flex;
    align-items: center;
}

.sliderShow{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.slide{
    position: relative;
    height: 95%;
    width: 260px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: border 300ms ease-in-out;
}
.slide:hover{
    border: 1px solid aqua;
}

.slide:not(:nth-child(1)){
    margin-left: 10px;
}

.s1{
    background-image: url(../Ressource/Image/Vaisseau/WebP/ChambreKin.webp);
}
.s2{
    background-image: url(../Ressource/Image/Vaisseau/WebP/ChambreLizan.webp);
}
.s3{
    background-image: url(../Ressource/Image/Vaisseau/WebP/CocpitePilotage.webp);
}
.s4{
    background-image: url(../Ressource/Image/Vaisseau/WebP/LieuReunion.webp);
}
.s5{
    background-image: url(../Ressource/Image/Vaisseau/WebP/Reacteur.webp);
}
.s6{
    background-image: url(../Ressource/Image/Vaisseau/WebP/ZoneCommune.webp);
}
.s7{
    background-image: url(../Ressource/Image/Vaisseau/WebP/ZoneMedicale.webp);
}
.s8{
    background-image: url(../Ressource/Image/Vaisseau/WebP/ZonesStockage.webp);
}

#perv{
    left: 0;
}
#next{
    right: 0;
}

.gallery-content button{
    position: absolute;
    z-index: 4;
    background-color: transparent;
    width: 35px;
    height: 65px;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 20px;
    transition: background-color 200ms ease-in-out;
}
.gallery-content button:hover{
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: none;
}

.fa-chevron-left, .fa-chevron-right{
    font-size: 35px;
    color: aqua;
    cursor: pointer;
}


.img-content{
    margin-top: 20px;
    width: 700px;
    height: 560px;
    background-image: url(../Ressource/Image/Vaisseau/WebP/VaisseauGlobal.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid aqua;
    border-radius: 10px;
}

.overlay{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: 400ms ease-in-out apparition;
}

@keyframes apparition{
    from{opacity: 0;}
    to{opacity: 1;}
}

.inventaireVaisseau{
    margin-top: 50px;
    margin-left: 25px;
}

textarea{
    border: 1px solid darkgoldenrod;
    background-color: rgba(128, 128, 128, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 2em;
    color: white;
    width: 95%;
}

h2{
    font-style: normal;
    font-size: 4em;
    color: darkgoldenrod;
}

.kinSelection, .lizanSelection, .reacteurSelection, .communeSelection, .stockageSelection,
.reunionSelection, .medicaleSelection, .pilotageSelection{
    display: none;
    width: 100%;
    transform: translate(0,-100%);
    z-index: 2;
}

@media screen and (max-width: 936px){

    .vueGlobal{
        display: none;
    }
    
    .vueGlobalMobile{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }

    .vueGlobalMobile div{
        width: 349px;
        height: 277px;
        background-image: url(../Ressource/Image/Vaisseau/VaisseauGlobal.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 0 0 15px 1px darkcyan;
    }

    .carteVaisseau{
        margin-top: 0px;
    }

    select{
        margin-top: 20px;
        height: 35px;
        padding: 5px;
        font-family: "Anta", sans-serif;
        background-color: black;
        color: goldenrod;
        border: 1px solid darkgoldenrod;
        border-radius: 5px;
    }

    .imgSelect{
        width: 100%; 
        height: 100%;
        object-fit: contain;
    }

    h2{
        font-size: 24px;
    }

    textarea{
        width: 90%;
        height: 100px;
    }
    
}

